body{ 
  font-size:  var(--def-fs);
  text-rendering: optimizespeed;
  line-height: 1.25;
  font-weight: 400;
  color: #151516;
  background: #fff;
  position: relative;
  margin: 0;
}

header{
    width: 100%;
}

h2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 125%;
    text-transform: none;
    color: inherit; 
}

h1,h2,h3,p{
  font-family: 'Inter', sans-serif; /* можно любые другие шрифты*/
  font-style: normal;
}
