.cardsContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
}

.cardImage {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.cardTitle {
  margin: 10px 0 5px;
  font-size: 16px;
}

.cardDesc {
  font-size: 14px;
  color: #555;
  height: 120px;
  overflow: hidden;
}

.cardPrices {
  margin-top: auto;
}

/* таблетка с ценой */
.priceNormal {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 999px; /* полностью закругленная */
  background: #f3f5f6; /* светло-серый фон */
  color: #000; /* черный текст */
  font-size: 13px;
  font-weight: 600;
}

.mini_h {
  max-width: 1240px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.mini_main_pg {
  align-items: center !important;
  -webkit-box-align: center !important;
  display: flex !important;
  box-sizing: inherit;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  flex-wrap: wrap !important;
}

.mini_main_btn {
  padding: 0 !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0;
  color: #4e4e4e;
  background: transparent;
}

.mini_about {
  -webkit-box-align: center !important;
  align-items: center !important;
  display: flex !important;
  box-sizing: inherit;
  color: #0e0e0e;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
}

.slesh {
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #4e4e4e;
}

.mini_about_btn {
  padding: 0 !important;
  font-weight: 700;
  font-size: 0.8125rem;
  color: #0e0e0e;
  background: transparent;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.mini_main_btn,
.mini_about_btn {
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

.breadcrumb-link {
  color: #4e4e4e;
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-sep {
  margin: 0 8px;
  color: #4e4e4e;
}

.breadcrumb-current {
  font-weight: 700;
  color: #0e0e0e;
}

/* Page */
.page-title {
  margin: 48px 0 24px;
  font-size: 32px;
  font-weight: 700;
}

.content {
  max-width: 820px;
  font-size: 16px;
  line-height: 1.6;
}

.content p {
  margin-bottom: 20px;
}

.about_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.typography {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #0e0e0e;
}

.typography_variant-h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #0e0e0e;
}

.typography_variant-bodybold {
  font-weight: 700;
  font-size: 1rem;
}

.button-color-red {
  background-color: #c31d28;
  border-color: #c31d28;
}
